@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  height: fit-content;
  /* border: 10px solid black; */
}

body {
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  /* border: 1px solid black; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

button,
input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
div,
input,
textarea,
button,
select,
a,
svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  --blue: #2464e8;
  --bg-blue: #eeeeffaa;
  --txt-blue: #5984e2;
  --bg-red: #f9d8d8;
  --bg-gray: #fafbfd;
  --gray: #b6c7d83d;
  --font-color: #21252b;

  --w1: 100;
  --w6: 600;
  --w7: 700;
  --w9: 900;

  --border-1: 1px solid #e3e4e6;

  background-color: white;
  color: var(--font-color);
  font-family: "Source Sans 3", sans-serif;
  width: fit-content;
  margin: 10vh auto;
}

.main-flex {
  display: flex;
  flex-direction: row;
  border: var(--border-1);
  border-radius: 5px;
  overflow: hidden;
}

.block-title-box {
  background-color: var(--bg-gray);
  padding: 0.5rem 1.25rem;
  font-weight: var(--w7);
  white-space: nowrap;
  border-bottom: var(--border-1);
}

.main-flex-item {
  position: relative;
}

.main-flex-item ~ .main-flex-item {
  border-left: var(--border-1);
}

.gray-select-btn {
  padding: 0.175rem 0.75rem;
  background-color: var(--gray);
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: var(--w6);
}

.gray-select-btn[data-selected="false"] {
  background-color: white;
  border: 1px solid var(--font-color);
  padding: calc(0.175rem - 2px) 0.75rem;
}

.add-condition-li:hover,
.add-condition-li[data-active="true"] {
  background-color: var(--bg-blue);
  color: var(--blue);
  border-left: 2.5px solid var(--blue) !important;
}

.add-condition-sub-li:hover{
  background-color: #fdfbdd85;
}

.add-condition-li:hover > svg,
.add-condition-li[data-active="true"] > svg {
  stroke: white !important;
  background-color: var(--blue) !important;
}

.cover-all-screen {
  position: fixed;
  width: 500vw;
  height: 500vh;
  top: 0;
  left: 0;
}
